%div
  .row
    %h4
      .search-meals-title
        Tapez la liste complète des ingrédients de votre cuisine,
        %br
        on s'occupe du reste !
    = form_with url: '/meals', method: :get do |f|
      = f.select :ingredients, Ingredient.pluck(:name).sort, { multiple: true, selected: params[:ingredients] }, { class: 'ingredient-select' }
      .save-button-box
        = f.submit 'Chercher des plats', class: 'save-button'

- if @meals
  %br
  - if @meals.any?
    %h2
      .search-meals-title
        Oh, on a trouvé
        %i
          exactement
        %br
        ce que vous cherchiez...
    %br
    .search-meals
      - @meals.each do |meal|
        .search-meals-item
          = link_to(meal_path(meal)) do
            = image_tag(meal.image, class: 'search-meals-image')
            .search-meals-name
              = meal.name
            .search-meals-time-and-rating
              = meal.total_time
              %br
              .search-meals-rating
                = image_tag('star.png', class: 'search-meals-rating-image')
                = meal.rate
    %hr
      %h5
        .suggestions-title
          Et avec quelques ingrédients en plus,
          %br
          vous pourriez aussi tester ces plats
        = render 'suggestion_meals'
  - else
    %h2
      .search-meals-title
        Malheureusement, aucun plat ne correspond à votre recherche,
        %i
          mais...
    %h3
      .suggestions-title
        Avec quelques ingrédients en plus,
        %br
        vous pourriez tester ces plats !
      = render 'suggestion_meals'
- else
  %hr
    %h5
      .suggestions-title
        Ou si vous préférez,
        %br
        vous pouvez essayer un des ces
        %i
          délicieux
        plats
      = render 'suggestion_meals'