%div
  %h1.font-bold.text-4xl Home#index
  %p Would you try one of those delicious meals?
  %div
    - if @meals
      - @meals.each do |meal|
        %p= meal.name
        %p= meal.ingredients.pluck(:name).sort
        / %p= meal.display_ingredients

  = form_with url: '/meals', method: :get do |f|
    = f.select :ingredients, Ingredient.pluck(:name).sort, { multiple: true }, { class: 'ingredient-select' }
    = f.submit

    - @suggested_meals.each do |meal|
      / %p= image_tag("meal.image")
      %p= meal.name
      %p= meal.tags
      %p= meal.total_time
      %p= meal.ingredients.pluck(:name)
