.meal-title
  %h3
    = "L'" + %w[incroyable invraisemblable extraordinaire admirable unique insolite inimaginable immense intense excentrique ineffable épique indescriptible inimitable].sample
  %h2
    %b
      = "« #{@meal.name} »"

.meal-first-block
  .meal-rating
    = image_tag('star.png', class: 'meal-rating-image')
    = @meal.rate
  .meal-comments
    %u
      = link_to("#{@meal.nb_comments} commentaires", 'https://www.pennylane.com/fr/clients/')
  = image_tag(@meal.image, class: 'meal-image')
  .meal-author
    Conçu avec amour par
    %b= @meal.author

%br
.meal-tags
  - @meal.tags.each do |tag|
    .meal-tag-item
      = tag
%br
.meal-infos
  = image_tag('clock.svg', class: 'meal-rating-image')
  = @meal.total_time
  •
  = image_tag('chef.svg', class: 'meal-rating-image')
  = @meal.difficulty

%br
.meal-ingredients
  %b
    Ingrédients et quantités pour
    .meal-people-quantity
      = @meal.people_quantity
    personnes :
  - @meal.display_ingredients.each do |di|
    %br
    = "- #{di}"
